/Chess-Socket/cmake-build-debug/CMakeFiles/CMakeTmp
/Chess-Socket/cmake-build-debug/CMakeFiles/CMakeOutput.log
/Chess-Socket/cmake-build-debug
/GSDP-Team3/server/ven
/HTML/Exercises/Exercise 1/imgs/Thumbs.db
/HTML/Exercises/Exercise 2/images/*.db
/HTML/Exercises/Exercise 3/images/Thumbs.db
/HTML/Exercises/My pham Thu Thuy/imgs/Thumbs.db
/HTML/Exercises/Tieng anh 365/imgs/Thumbs.db
