
*{font-family: tahoma;}
a:hover{
	text-decoration: none !important;
}
/*iii*/
/*======================= TOP =========================*/
.top{
	width: 100%;
	height: 20px;
	background: #D23745;
}
.top p{
	padding-top: 2px;
	color: #F3BFB2;
	font-size: 11px;
	margin-bottom: 0px;
}
.login{
	text-align: right;
}
.login a{
	color: #F3BFB2 !important;
	font-size: 11px;
	margin-left: 7%;
}
.login a:hover{
	 color: #fff !important;
}
.iput{
	width: 100%;
	border: 1px solid #eee;
}

.iput i {
	padding: 9px 15px;
	color: #D23745;
	float: left;
	font-size: 16px;
	font-weight: 300;
}
.login a:visited {
   	color: #fff;
}
.search input[type="text"]{
	border-radius: none;
	border: none;
}
.search button{
	background: #D23745;
	color: #fff;
}
.cuz-btn{
	background: #D23745;
}
.cuz-btn button:hover{
	color: #fff;
	background:#FF0221;
}

.cart {
	padding-top: 5px;
	text-align: right;
}
.cart a{
	color: #000;
	font-size: 13px;
}
.cart span{
	background: #FF0221;
}
.center{
	width: 100%;
	float: left;
}

/*======================= MENU =========================*/
.menu nav{
	background: #D23745;
	border:none;
	margin-bottom: 0px;
}
.menu ul li a{
	color: #F3BFB2 !important;
	font-size: 11.5px;
	padding:10px;
}
.menu ul li i{
	color: #fff;
	font-size: 20px;
}
.menu ul li a:hover{
	background:#E97D81 !important;
	color: #fff !important;
}
.menu{
	background: #D23745;
	margin-bottom: 2px;
	
}
.navbar-ex1-collapse{
	padding-left: 0px !important;
}
.menu ul li:first-child a{
	padding-left: 0px;
}
.menu ul li:first-child a:hover{
	background: #D23745 !important;
}
/*======================= CONTENT =========================*/
.line-1{
	background: #969B97;
	height:4px;
}
.line-2{
	background: #D33540;
	height:4px;
}
.social{
	padding-top: 7px;
	background: #FAFAFA;
	border-bottom: 2px solid #E5E5E5;
}
.sell-off{
	padding: 20px 0px 30px 0px;
}
.social p{
	font-size: 11px;
	color: #666666;
}
.social p i{
	font-size: 15px !important;
	padding-right: 5px;
}
.last-star strong, .last-star i{
	color: #B40300;
}
.title{
	width: 100%;
	float: left;
	border-bottom: 2px solid #D33647;
	margin-bottom: 5%;
}
.title p{
	background: #D33647;
	color: #fff;
	font-size: 17px;
	padding:3px 20px;
	margin-bottom: 8px;
}
.title span{
	padding-top: 10px;
	color: #000;
}
.more{
	
	padding-top:10px;
}
.more span{
		color: #000;
}
.more i{
	opacity: 0.5;
	margin-left: 10px;
	border: 1px solid #ccc;
	padding: 1px 8px;
	font-size: 20px;
	font-weight:100 !important;
	cursor: pointer;
}
.more i:hover{
	opacity: 1 !important;
}
.more{
	text-align: right;
}
.angle i{
	color: #D33647;
}
.title p{
	position: relative;
}
.arrow-down{
	position: absolute;
	bottom: -18px;
	left: 47%;
	border-style: solid;
	border-width: 10px 7.5px 0 7.5px;
	border-color: #D33647 transparent transparent transparent;
}

.owl-prev,.owl-next{
	/*display: none !important;*/
}
.owl-sliders{
	margin-bottom: 5%;
}
.mainview,.owl-sliders{

}

.block .owl-carousel .owl-controls .owl-nav .owl-prev{
	position: absolute;
	top:0;
	right:0;
}
.block .owl-carousel .owl-controls .owl-nav .owl-next{
	position: absolute;
	top:0;
	right:0;
	margin-right:-14px;
}

.items p{
	padding-top: 20px;
	color: #D33647;
	
}
.view2 img,.sell-off img{
	padding-top: 5px;
}
.km1 p {
	position: relative;
	background: #FF0018;
	color: #fff;
	text-align: center;
	padding:5px 20px;
	margin-bottom: 0px;
}
.arrow-down2{
	position: absolute;
	bottom:-8px;
	left: 47%;
	border-style: solid;
	border-width: 10px 7.5px 0 7.5px;
	border-color: #FF0018 transparent transparent transparent;
}
.km1 small{
	float: right;
}
.km1 a{
	color: #eee;
}
.km1 a:hover{
	color: #fff;
}
.items{
	text-align: center;
	padding-right: 2px;
	margin-bottom: 5px;
}

.items button{
	background: url('../imgs/cart2.png')  no-repeat;
	padding: 7px 10px 5px 35px;
	border: 1px solid #ccc;

}
.btn{
	border-radius: none !important;
}
.hot-pro,.views{
	width: 100%;
	float: left;
	padding-bottom: 20px;
}
.follow{
	width: 100%;
	float: left;
}
/*======================= FOLLOW =========================*/
.mail{
	width: 100%;
	float: left;
	background: #D33647;
	text-align: center;
	padding-bottom: 11%;
}

.mail p{
	color: #F5E43F;
	font-size: 18px;
	font-family: tahoma;
	padding-top: 10%;
}
.mail p i{
	color: #fff;
	font-size: 50px;
	padding-bottom: 3%;
}
.input-mail {
	margin: 0 auto;
	width: 100%;
	padding-top: 10px;
}
.input-mail input[type="text"]{
	width: 70%;
	height: 40px;
	border: none;
}
.input-mail button{
	border: none;
	background: #FF0018;
	color: #fff;
	font-size: 25px;
	font-weight: 100;
	padding: 4px 25px 11px 25px;
}

.view2{
	padding: 20px 0px;
}
.thum-item{
	margin-top: 3%;
}
.thum-item span{
	padding: 5px 10px;
}
.thum-item h3{
	font-size: 15px;
	color: #BE2B62;
}
.thumbnail{
	padding: 10px !important;
	border: none !important;
}
.thum-item i{
	padding-right: 20px;
}
.thum-item span{
	padding: 10px 0px;
}
.thum-item small{
	color: #000;
	text-decoration: underline;
}
/*======================= @ FOOTER =========================*/
.footer{
	background: #202020;
	padding: 40px 20px;
	padding-bottom: 30px;
}
.contact p{
	padding-top: 20px;
	color: #fff;
}
.contact ul li{
	list-style: none;
	padding-top: 20px;
	color: #999;
	font-size: 14px;

}
.contact li a{
	color: #999;
}
.contact li a:hover{
	text-decoration: underline !important;
}
.contact ul {
	padding-left: 0px;
}
.contact ul li i{
	color: #F0671E;
	font-size: 15px;
}
.register input{
	height: 35px;
}
.register button{
	height: 35px;
	background: #CE3C3F;
	border: none;
	color: #fff;
	padding-bottom: 0px;
}
.link li{
	display: inline-block;
}
.link li i{
	padding: 7px 8px;
	color: #fff !important;
	font-size: 16px;
	border-radius: 3px;
}
.link li:nth-child(1) i{background: #3F5992;}
.link li:nth-child(2) i{background: #5FAAE1;}
.link li:nth-child(3) i{background: #B53220;}
.link li:nth-child(4) i{background: #DE3435;}
.link li:nth-child(5) i{background: #006FAC;}
/*======================= @ MEDIA =========================*/
@media(max-width:768px) {
	.logo{
		text-align: center;
		
	}
	.menu ul li a{
	font-size: 13px;
	padding:7px 7px;
	}
	.search,.cart{
		padding: 7px 0px !important;
	}
	.cart a{
		font-size: 11px;
	}
	.mail p{
	font-size: 13px;
	}
	.title p{
		font-size: 13px;
	}
	.more{
		padding: 0px;
	}
	.items{
		padding-bottom: 10px;
		border-bottom: 1px dashed #ddd;
	}
	.navbar-ex1-collapse{
		padding-left: 15px !important;
	}
	.navbar-header img{
		width: 98%;
		padding-top: 10px;
	}
	.cart{
		padding-top: 15px !important;
	}
	.km1 img{
		padding-bottom: 10px !important; 
		margin: 0 auto;
	}
	.km2 img{
		margin: 0 auto;
	}
	.km2 {
		padding: 0px !important;
	}
	.mail{
		margin-bottom: 10px;
	}
	.search{
		padding-left: 15px !important;
	}
	.cart{
		padding-right: 15px !important;
	}
	.sell-off{
		padding: 3px 0px;
	}
	.owl-sliders{
		margin-bottom: 3px;
	}
	.hot-pro{
		padding-bottom: 5px;
	}
	.views{
		padding-bottom: 0px;
	}
	.footer{
		padding-top: 5px;
	}
	.dropdown-menu li:first-child a{
	padding-left: 25px !important;
	}
	.backtop{
		width: 80%;
	}
}
@media (min-width: 769px) and (max-width: 1199px) {
	.logo{
	padding:30px 0px;
	}
	.drop1:hover .drop2{
	display: block !important;
	}
	.drop3:hover .drop4{
		display: block !important;
	}
	.dropdown-menu li:first-child a{
	padding-left: 10px !important;
	}
	.cart{
		padding-left: 0px !important;
	}
}

@media (min-width: 1200px) {
	.logo{
	padding:25px 0px;

	}
	.drop1:hover .drop2{
	display: block !important;
	}
	.drop3:hover .drop4{
	display: block !important;
	}
	.dropdown-menu li:first-child a{
	padding-left: 10px !important;
}
}
/*===================================*/

.dropdown-menu{
	background: #E97D81 !important;
	border: 5px none !important;
	padding: 0px!important;
	border-radius: 0px 0px 0px 0px !important;
}
.dropdown ul li a{
	color: #fff !important;
}
.dropdown ul li a:hover{
	background: #D23745 !important;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background-color: #D23745 !important;
}

.marginBottom-0 {margin-bottom:0;}
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#555;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
/*=============BACK TO TOP============*/
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 9999;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 30px;
    background: #202020;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
.fa-arrow-up{
	padding-top: 7px;
	font-size: 30px !important;
}
#back-to-top:hover {
    background: #e9ebec;
    border: 2px solid #202020;
    color: #202020;
}
#back-to-top.show {
    opacity: 1;
}

