.bg1 {
	background-color: #d23745;
	color: #f3bfb2;
	font-size: 12px;
	vertical-align: middle;
}
.bg1 p {
	display: inline;
}
.bg1 ul {
	list-style-type: none;
	display: inline;
	float: right;
	margin: 0;
}
.bg1 li {
	text-decoration: none;
	color: #f3bfb2;
	display: inline;
	margin-left: 30px;
}
.bg1 li a {
	text-decoration: none;
	color: #f3bfb2;
	display: inline-block;
}
.bg1 ul li a:hover, .bg1 ul li:hover {
	color: white !important;
	text-decoration: none;
}
.row2 {
	padding-top: 30px;
	padding-bottom: 30px;
}
.cart a {
	color: #f3bfb2 !important;
	font-size: 12px;
	margin-top: 5px;
}
.label {
	font-size: 15px;
}
.navbar {
	background-color: #d23745;
	margin-bottom: 5px;
	border-radius: 0;
	border: none;
	min-height: 40px;
}
#myNavbar {
	vertical-align: middle;
}
.navbar li a {
	color: #f3bfb2 !important;	
	font-size: 10px;
	padding: 10px;
	margin-bottom: 0;
}
.navbar li a:hover {
	background-color: #e97d81 !important;
	color: white !important;
}
.navbar li a:active {
	color: #f3bfb2 !important;
}
.navbar .glyphicon {
	color: white;
	font-size: 14px;
}
#myCarousel .btn {
	margin-bottom: 15px;
}
.row3 {
	margin-bottom: 30px;
}
.row4 {
	margin-bottom: 30px;
}

.tooltiptext {
    width: 120px;
    background-color: #d23745;
    color: white;
    text-align: center;
    padding: 8px 20px;
    position: relative;
    font-size: 18px;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #d23745 transparent transparent transparent;
}
.red {
	background-color: red;
	width: 100%;
}
.red::after {
	border-color: red transparent transparent transparent;
}
.pagination {
	float: right;
	margin: 0;
}
.carousel1, .carousel2, .carousel3 {
	margin-top: 15px;
}
.carousel1 h4, .carousel2 h4, .carousel3 h4 {
	font-size: 15px;
	color: #d23745;
}
.carousel1 p, .carousel2 p, .carousel3 p {
	font-size: 15px;
	color: #d23745;
	font-weight: bold;
}
.carousel1 .btn, .carousel2 .btn, .carousel3 .btn {
	border-radius: 0;
	padding: 5px 10px 5px 35px;
	background: url(../images/cart2.png) no-repeat;
}
.bg2 {
	background-color: #d23745;
	padding-top: 100px;
	padding-bottom: 140px;
	margin-top: 10px;
}
.bg2 .glyphicon-envelope {
	font-size: 35px;
	color: white;
}
.bg2 .glyphicon-search {
	font-size: 15px;
	color: white;
}
.bg2 h4 {
	color: yellow;
	margin-bottom: 20px;
}
.bg2 input {
	border: none;
	border-radius: 0;
}
.bg2 .btn {
	background-color: red;
	padding-left:20px;
	padding-right: 20px;
	border-radius: 0;
	color: white;
}
.bg2 .btn:active {
	background-color: red;
}
.row2 input {
	border: none;
	border-radius: 0;
}
.row2 .btn {
	background-color: #d23745;
	padding-left:20px;
	padding-right: 20px;
	border-radius: 0;
	color: white;
}
.row2 .btn:active {
	background-color: #d23745;
}
.input-group {
	width: 80% !important;
	margin: auto;
}
.input-group-addon {
	padding: 0;
	margin-left: 20px !important;
}
.row5 {
	margin-top: 30px;
	margin-bottom: 50px;
}
.row5 p {
	margin-left: 10px;
}
.divider {
	height: 2px;
	margin-top: 10px;
	margin-bottom: 40px;
}
.thumbnail {
	border: none;
}
a.no_style {
	color: black;
	text-decoration: underline;
	font-size: 10px;
}
a.thumbnail_a {
	text-decoration: none;
}
a.thumbnail_a p {
	margin-left: 10px;
	margin-top: 30px;
	margin-bottom: 15px;
	color: #d23745;
}
.bg3 {
	background-color: #202020;
	padding: 50px 0 30px 0;
}
.bg3 i {
	color: #f0671e;
}
.bg3 p {
	color: #999999;
	margin: 20px 0;
}
.bg3 h5 {
	color: white;
}
.bg3 a {
	color: #999999;
}
.bg3 input {
	border-radius: 0;
}
.bg3 .btn {
	background-color: red;
	border-radius: 0;
	color: white;
}
.bg3 .btn:active {
	background-color: red;
}
.up_button {
    position: fixed;
    bottom: 50px;
    right: 100px;
    display: none;
}
.row7 {
	margin-top: 10px;
}
.glyphicon-chevron-up {
	color: white;
	background-color: #d23745;
	border: 1px solid white;
	border-radius: 5px;
	font-size: 30px;
	width: 50px;
	height: 50px;
	text-align: center;
	padding-top: 7px;
	padding-left: 2px;
}
.glyphicon-chevron-up:hover {
	color: #d23745;
	background-color: white;
	border: 1px solid #d23745;
	border-radius: 5px;
}
.container1 {
	position: relative;
	margin-bottom: 30px;
}
.more {
	position: absolute;
	right: 0;
	top: 0;
}
.owlprev, .owlnext {
	position: absolute;
	right: 0;
	top: 0;
}
@media(max-width: 768px) {
	.collapse_sm {
		display: none !important;
	}
	.row4 {
		display: none !important;
	}
	.logo {
		display: none;
	}
	.cart {
		margin: 0;
		padding: 0;
	}
	.hidden {
		display: inline-block !important;
	}
	img {
		margin: 0 auto;
	}
	.row7 {
		display: none;
	}
	.row5 div:nth-child(4) {
		display: none;
	}
	.row5 div:nth-child(3) {
		display: none;
	}
	.row {
		text-align: center;
	}
	.input-group {
		width: 100% !important;
	}
	.bg2 {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.bg2 .input-group, .bg3 .input-group {
		width: 80% !important;
	}
	.bg2 h4 {
		font-size: 15px;
		margin: 20px 20px;
	}
	#myCarousel .carousel-caption {
		display: none;
	}
	.row3, .row4 {
		margin-bottom: 15px;
	}
	.row5 {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.container1 {
		margin-bottom: 15px;
	}
}
