body {
  margin:0px;
  background-color:rgba(201, 201, 201, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1714px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:16px;
  width:1024px;
  height:768px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:130px;
  width:166px;
  height:29px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:179px;
  width:57px;
  height:29px;
  font-size:25px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:942px;
  top:283px;
  width:85px;
  height:29px;
  font-size:25px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:348px;
  width:69px;
  height:29px;
  font-size:25px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:954px;
  top:405px;
  width:73px;
  height:29px;
  font-size:25px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:1087px;
  top:132px;
  width:300px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:1087px;
  top:183px;
  width:300px;
  height:25px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:1087px;
  top:287px;
  width:300px;
  height:25px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:1087px;
  top:352px;
  width:300px;
  height:25px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:232px;
  width:117px;
  height:29px;
  font-size:25px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:1087px;
  top:236px;
  width:300px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:1087px;
  top:541px;
  width:195px;
  height:59px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:59px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:84px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:16px;
  width:1024px;
  height:84px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:16px;
  width:142px;
  height:84px;
  font-size:25px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:138px;
  word-wrap:break-word;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:1572px;
  top:16px;
  width:142px;
  height:84px;
  font-size:25px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:138px;
  word-wrap:break-word;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:1087px;
  top:405px;
  width:300px;
  height:40px;
  font-size:23px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:296px;
  word-wrap:break-word;
}
