body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:458px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:146px;
  top:38px;
  width:223px;
  height:37px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:60px;
  top:95px;
  width:78px;
  height:15px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:158px;
  top:130px;
  width:300px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5 {
  position:absolute;
  left:60px;
  top:135px;
  width:78px;
  height:15px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:158px;
  top:170px;
  width:300px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8 {
  position:absolute;
  left:60px;
  top:175px;
  width:27px;
  height:15px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:60px;
  top:210px;
  width:31px;
  height:15px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:15px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:158px;
  top:210px;
  width:300px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13 {
  position:absolute;
  left:158px;
  top:90px;
  width:300px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14 {
  position:absolute;
  left:308px;
  top:265px;
  width:100px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u15 {
  position:absolute;
  left:138px;
  top:265px;
  width:100px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u16 {
  position:absolute;
  left:234px;
  top:72px;
  width:48px;
  height:48px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u17 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:158px;
  top:141px;
  width:199px;
  height:29px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:29px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:208px;
  top:185px;
  width:100px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
