*{
	margin:0px;
	padding:0px;
}
body{
	background: url(../imgs/bg.jpg) repeat-x;
}
#mainView{
	margin: 0 auto;
	width:960px;
	height:auto;
}
#menu{
	width:100%;
	background: url(../imgs/menu.jpg);
	background-size:100%;
	height:60px;
}
#nav{
	margin-top:50px;
	
	
}
#nav ul{
	margin-left:50px;
}
#nav ul li{
	display:inline-block;
	padding:15px 20px 0px 0px;
	
}
#nav ul li a{
	text-decoration:none;
	color:#fff;
	font: 16px tahoma;
}
#nav a:hover{
	color:yellow;
}
#search{
	float:right;
	margin-top:-19px;
	margin-right:55px;
}
#search input[type="search"]{
	border:none;
	border-radius:3px;
	height:20px;
}
#search input[type="submit"]{
	border:none;
	height:20px;
	border-radius:3px;
	background:#fff;
	color:orange;
	font: bold 13px arial;
	cursor:pointer;
}
#search input[type="submit"]:hover{background:#eee;}
#banner{
	background: url('../imgs/banner.jpg');
	background-size:100% 100%;
	height:250px;
}
#banner h1{
	font:55px tahoma;
	color:#fff;
	padding-top:6%;
	padding-left:20%;
}
#banner h3{
	font:26px tahoma;
	color:#fff;
	padding-left:25%;
}
#content{
	width:100%;
	height:auto;
	margin-top:20px;
}
#content-left{
	width:30%;
	float:left;
	background:#eee;
	height:1100px;
	
}
.item{
	width:100%;
	height:auto;
	
}

.title{
	background: url('../imgs/sidebar.png');
	background-size:100% 100%;
	height:40px;
	width:100%;
}
h5{
	font:20px Arial, Helvetica, sans-serif;
	color:#fff;
	padding:10px 0px 0px 20%;

}
.view{
	
	padding-bottom:30px;
}
.view p{
	font:15px Arial, Helvetica, sans-serif;
	color:#666;
	line-height:1.5;
	padding: 15px;
	font-weight:100;
}
#content-right{
	width:69%;
	float:right;
	background:#eee;
	height:1100px;
}
.main-title{
	background: url('../imgs/img05.jpg');
	background-size:100% 100%;
	height:40px;
	width:100%;
}
#footer{
	float:left;
	background: url('../imgs/footer.jpg');
	background-size:100% 100%;
	height:60px;
	width:100%;
}
