<!DOCTYPE html>
<html lang="en">
<head>
	<title>Homepage</title>
</head>
<body>
	<main>
		<a href="/">Homepage</a>
		<div>
			<form action="/">
				<input type="text" name="name" id="searchBar" onkeyup="recommend(this.value)" pattern="[a-zA-Z\s]+" 
					title="Only A-Z, a-z, space with maximum of 50 characters" 
					maxlength="50">
				<input type="submit" value="Search">
			</form>
			<p><a id="searchSuggest1"></a></p>
			<p><a id="searchSuggest2"></a></p>
			<p><a id="searchSuggest3"></a></p>
			<p><a id="searchSuggest4"></a></p>
			<p><a id="searchSuggest5"></a></p>
		</div>
		<h3>Products</h3>
		<div>
			<% products.forEach((product) => { %>
				<p><a href="/product/<%= product[0] %>" style="text-decoration: none !important;"><strong><%= product[1] %>: </strong><%= product[2] %> đ</p></a>
			<% })%>
		</div>
	</main>
	<script type="text/javascript">
		function recommend(value){
			document.getElementById(`searchSuggest1`).innerHTML = ''
			document.getElementById(`searchSuggest2`).innerHTML = ''
			document.getElementById(`searchSuggest3`).innerHTML = ''
			document.getElementById(`searchSuggest4`).innerHTML = ''
			document.getElementById(`searchSuggest5`).innerHTML = ''
	    var xmlHttp = new XMLHttpRequest()
	    xmlHttp.onreadystatechange = function() { 
	      if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
	      	console.log(xmlHttp.responseText)
	      	let values = JSON.parse(xmlHttp.responseText)
	      	for (let i = 0; i < 5; i++) {
						if (values[i]) {
							document.getElementById(`searchSuggest${ i + 1 }`).style = "text-decoration: none !important;"
							document.getElementById(`searchSuggest${ i + 1 }`).href = `/product/${ values[i][0] }`
							document.getElementById(`searchSuggest${ i + 1 }`).innerHTML = values[i][1]
						}

					}
	      }
	    }
	    xmlHttp.open('GET', `./api/products_suggestion?query=${ value }`, true)
	    xmlHttp.send()
		}
	</script>
</body>
</html>