<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= products[1] %></title>
</head>
<body>
	<main>
		<a href="/">Homepage</a>
		<h3><%= products[1] %></h3>
		<p><%= products[2] %> đ</p>
	</main>
</body>
</html>