/* -----------phan dung chung------------*/ 
*{
	margin:0px;
	padding:0px;
	font-family:sans-serif;
}
/* Chrome, Safari, Opera */ 
@-webkit-keyframes tomorrow {
    0%{background-position-x:0; }
	50%{background-position-x:99999px; }
	100%{background-position-x:0; }
}
.center{
	width:1200px;
	margin:0 auto;
}
/* -----------header------------*/ 
header{
	background: url('../images/banner1.png');
	background-size:cover;
	-webkit-animation: tomorrow 4000s ease infinite;
}
hgroup#top{
	padding-top:200px;
	text-align:center;
}
#top h1{
	font-size:70px;
	color:#fff;
}
#top h2{
	font-size:18px;
	color:#fff;
	opacity:0.5;
	font-weight:400;
	letter-spacing:4px;
}
nav#menu{
	padding-top:70px;
	text-align:center;
	padding-bottom:200px;
	
}
#menu li{
	display:inline-block;
	margin-left:20px;
	
}
#menu li a{
	text-decoration:none;
	color:#8E8B8C;
	font-size:20px;
	padding:20px 15px;
	
}
.active{
	padding:20px 15px;
	border-radius: 30px;
	border:3px solid rgba(255,255,255,.5);
	
	/* chon cai nay nhin dep hon :") */
	/*
	border:3px solid #fff;
	background:rgba(255,255,255,.5);
	*/
}
.active a{color:#fff !important;}

/* -----------------ket thuc header ----------------- */
section#content{ 
	height:auto; 
	position:relative;
	padding-bottom:50px;
	}
/* ----------------- content-left ----------------- */
article#news{
	width:60%;
	padding-top:50px;
}
hgroup#title{
	color:#666;
}
#title h1{
	font-size:40px;
}
#title h2{
	font-size:20px;
	font-weight:400;
}
article#news img{
	margin:40px 0px;
	
}
#news p,a{
	font-size:16px;
	color:#333;
	line-height:130%;
}
/* -----------------content-right ----------------- */
aside#sidebar{
	width:37%;
	position:absolute;
	right:20px;
	top:0px;
	padding-top:50px;
}
.tit{
	color:#666;
	font-size:25px;
	padding-bottom:30px;
}
nav#more{
	margin-top:20px;
}	
#more li {
	border-bottom: 1px solid #ccc;
	padding-top:20px;
}
#more li p{
	color:#666;
	font-size:16px;
	font-weight:200;
}
.view{
	margin:20px 0px 30px 0px;
}
.view a{
	width:80%;
	text-decoration:none;
	float:right;
	color:#333;
	font-size:16px;
	font-weight:200;
	line-height:150%;
}
/* -----------ket thuc content------------*/ 

section#product{
	background:#eee;
	
}
#mainView{
	position:relative;
	padding-bottom:30px;
}
.rows{
	width:33%;
}
.item{
	padding-top:20px;
	text-align:center;
}
.item h1{
	color: #999;
    font-size: 18px;
    line-height: 60px;
}
.item p{
	padding:30px 20px 50px 20px;
	color: #333;
    font-size: 16px;
    line-height: 120%;
	text-align:justify;
}
.item a{
	background:#E95D3C;
	color:#fff;
	font-size:18px;
	padding:20px;
	border-radius:20px;
	cursor:pointer;
	text-decoration:none;
}
.item a:hover{background:#E95D03;}
article#position1{	
	background:#ddd;
	padding-bottom:50px;
	border-radius:10px;
}
article#position2{
	position:absolute;
	top:0px;
	left:33.5%;	
	background:#ddd;
	border-radius:10px;
	padding-bottom:50px;
}
article#position3{
	position:absolute;
	top:0px;
	right:0px;	
	background:#ddd;
	border-radius:10px;
	padding-bottom:50px;
}

footer{
	height:500px;
	background:#141414;
}
#bot{
	position:relative;
}

nav#column2{
	position:absolute;
	top:0px;
	left:33.5%;	
}
nav#column3{
	position:absolute;
	top:0px;
	right:0px;	
}
.col h2{
	
	color: #999;
    font-size: 18px;
    line-height: 40px;
}
.col ul,h2{
	padding-left:20px;
	padding-top:30px;
	text-align:center;
}
.col ul li{
	list-style:none;
	border-bottom: 1px solid #333;
	padding: 10px 0px;
}
.col ul li:last-child{
	border:none;
}
.col ul li a{
	color: #999;
    font-size: 16px;
    line-height: 230%;
	text-decoration:none;
}
.col ul li a:hover{text-decoration:underline;}
footer p{
	padding-top:50px;
	text-align:center;
	font-size:20px;
	letter-spacing:3px;
	color:#222;
}